.example-button-row {
  display: block;
  width: 100%;
  padding: 3px;
  // background-color: rgb(48, 48, 48);
}

button {
  margin: 5px;
}
.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Select some files";
  color: white;
  display: inline-block;
  background: rgb(44, 44, 44);
  // background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  // text-shadow: 1px 1px #fff;
  //   font-weight: 600;
  letter-spacing: 0.7px;
  font-size: 16px;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  //   background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
a {
  color: aliceblue;
}
