<div class="example-button-row">
  <a routerLink="/">
    <button mat-raised-button color="warn">
      <span style="font-size: 2rem">
        <b>&LeftArrowBar;</b>
      </span>
    </button></a
  >
  <button (click)="navigate()" mat-raised-button color="warn">
    Preview file
  </button>
  <button (click)="save()" mat-raised-button color="warn">
    Save uploaded file
  </button>
</div>

<mat-card>
  <mat-card-title
    ><input
      class="custom-file-input"
      type="file"
      id="file__input"
      accept=".json"
      #file
      name="filename"
      (change)="readFile(file.files)"
  /></mat-card-title>
  <mat-card-subtitle>Uploaded: {{ filename }} </mat-card-subtitle>
  <mat-card-actions>
    <div *ngFor="let file of fileList; let i = index">
      <button (click)="downloadFile(file)" mat-button color="warn">
        {{ file.filename }} DOWNLOAD
      </button>
    </div>
    <!-- <button mat-button>SHARE</button> -->
  </mat-card-actions>
</mat-card>

<br />
<div class="mat-expansion-panel mat-card" style="min-height: 50%">
  <pre style="padding: 30px">  {{ fileContent }}</pre>
</div>
