<div class="example-button-row">
  <a routerLink="/">
    <button mat-raised-button color="warn">
      <span style="font-size: 2rem">
        <b>&LeftArrowBar;</b>
      </span>
    </button></a
  >
  <button (click)="navigate()" mat-raised-button color="warn">
    Preview file
  </button>
</div>
<input
  class="custom-file-input"
  type="file"
  id="myFile"
  #file
  name="filename"
  (change)="readFile(file.files)"
/>
<input (click)="readFile(file.files)" type="submit" />
<div class="mat-expansion-panel">
  <p>{{ file.files?.item(0)?.name }}</p>
  <pre>{{ text }}</pre>
</div>
<br />
<a routerLink="/preview-json" [state]="{ text: text }">
  routerLink with data
</a>
