<div class="example-button-row">
  <a routerLink="/">
    <button mat-raised-button color="warn">
      <span style="font-size: 2rem">
        <b>&LeftArrowBar;</b>
      </span>
    </button></a
  >
  <button (click)="navigate()" mat-raised-button color="warn">
    Preview file
  </button>
  <button
    (click)="save(); fileInput.files = null"
    mat-raised-button
    color="warn"
  >
    Save uploaded file
  </button>
  <button (click)="clearStorage()" mat-raised-button color="warn">
    Clear storage
  </button>
</div>

<mat-card>
  <mat-card-title
    ><input
      class="custom-file-input"
      type="file"
      id="file__input"
      accept=".json"
      #fileInput
      name="filename"
      (change)="readFile(fileInput.files)"
  /></mat-card-title>
  <mat-card-subtitle
    >Uploaded: {{ recentFileBox?.filename }}
  </mat-card-subtitle>
  <mat-card-actions>
    <div *ngFor="let file of fileBoxList; let i = index">
      {{ file.filename }}
      <button (click)="displayContent(i)" mat-button color="warn">
        - show content -
      </button>
      <button (click)="downloadFile(i)" mat-button color="warn">
        - Download -
      </button>
      <button (click)="deleteFile(i)" mat-button color="warn">
        - delete -
      </button>
    </div>
    <!-- <button mat-button>SHARE</button> -->
  </mat-card-actions>
</mat-card>

<br />
<div class="mat-expansion-panel mat-card" style="min-height: 50%">
  <p>{{ recentFileBox?.uploadedAtFormatted }}</p>
  <pre style="padding: 30px">  {{ recentFileBox?.text }}</pre>
</div>
