.container {
  width: inherit;

  padding: 5px;
  //   margin: 5px;
  //   border: 1px solid;
  //   background-color: lightgray;
}
// video {
//   max-width: 100%;
//   height: auto;
// }

img,
video {
  max-width: 100%;
  width: 99%;
  height: auto;

  border: 1px solid black;
}
.title__text {
  display: inline;
  word-wrap: break-word;
  // overflow: hidden;
  padding-left: 5px;
}
.icon-display {
  transform: scale(0.6);
}

mat-form-field {
  margin-right: 12px;
}
