<ng-container
  class="container"
  (keyup)="nextImage($event)"
  [ngSwitch]="screenshot.type"
>
  <ng-container *ngSwitchCase="'video'">
    <video [controls]="controls" [muted]="muted">
      <source [src]="screenshot.link" type="video/mp4" /></video
    ><span (click)="copyTitle(screenshot.title)" class="title__text"
      >{{ screenshot.title | shortText }}
      <button
        *ngIf="copyButtonDisplayed"
        mat-icon-button
        aria-label="copyTitle icon"
      >
        <mat-icon class="icon-display">content_copy</mat-icon>
      </button>
    </span>
  </ng-container>
  <ng-container *ngSwitchCase="'image'">
    <img [src]="screenshot.link" alt="" />
    <span (click)="copyTitle(screenshot.title)" class="title__text"
      >{{ screenshot.title | shortText }}
      <button
        *ngIf="copyButtonDisplayed"
        mat-icon-button
        aria-label="copyTitle icon"
      >
        <mat-icon class="icon-display">content_copy</mat-icon>
      </button></span
    >
  </ng-container>

  <ng-container *ngSwitchDefault> </ng-container>
</ng-container>
