/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.cdk-overlay-pane {
  width: auto !important;
}

button {
  margin: 5px;
}
.mat-dialog-container {
  resize: both !important;
  overflow: auto !important;
  border: 2px solid;
}
