/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(46, 46, 46);
}
.cdk-overlay-pane {
  width: auto !important;
  max-width: 60% !important;
}

button {
  margin: 5px;
}
.mat-dialog-container {
  resize: both !important;
  overflow: auto !important;
  // width: 60% !important;
  // max-width: 80% !important;
  border: 2px solid;
  padding: 5px;
  background-color: gray;
}
.cdk-overlay-pane {
  &.mat-tooltip-panel {
    .mat-tooltip {
      color: #68c4f7;
      background-color: rgb(46, 46, 46);
      border: 1px solid #eeeeee;
      border-radius: 5px;
      font-size: 1rem;
      padding: 5px;
      letter-spacing: 0.5px;
    }
  }
}

.mat-simple-snackbar {
  color: hotpink;
}
