<mat-progress-bar
  mode="determinate"
  [value]="progressPercent"
  color="warn"
  #progressBar
  [matTooltip]="displayResult"
></mat-progress-bar>
<div class="example-button-row">
  <button
    (click)="drawer.toggle(); selectTestCase('all')"
    mat-raised-button
    color="warn"
  >
    Toggle All Screenshots
  </button>
  <a routerLink="/screenshots">
    <button mat-raised-button color="warn">
      Navigate to All Screenshots
    </button></a
  >
  <a routerLink="/file-upload">
    <button mat-raised-button color="warn">File upload</button></a
  >
  <mat-checkbox
    id="enableEditAll"
    (change)="enableEditOnAll($event)"
    class="example-margin"
    >EDIT</mat-checkbox
  >
</div>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list>
      <mat-list-item
        *ngFor="let screenshot of filteredScreenshotList; let i = index"
      >
        <image
          style="width: 300px"
          [screenshot]="screenshot"
          (click)="openDialog(i)"
        ></image>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <!-- <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div> -->
  <div class="example-sidenav-content">
    <mat-accordion multi>
      <mat-expansion-panel hideToggle expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title class="align__title">
            <span> Control panel</span>
            <button
              mat-button
              *ngIf="fileShouldBeSave"
              (click)="saveTestCases($event)"
              color="warn"
            >
              [ Save ]
            </button>
          </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="example-action-buttons">
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Search input</mat-label>
            <input
              (input)="searchByWords($event)"
              matInput
              type="text"
              [(ngModel)]="searchValue"
            />
            <button
              *ngIf="searchValue"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="searchValue = ''"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <button mat-button (click)="accordion.openAll()" color="warn">
            Expand All
          </button>
          <button mat-button (click)="accordion.closeAll()" color="warn">
            Collapse All
          </button>

          <my-material-select
            (selectionChanged)="fileSelectionChanged($event)"
            [options]="fileSelectOptions"
            [selected]="selectedOption"
          ></my-material-select>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel
        *ngFor="let case of filteredTestCaseList; let i = index"
      >
        <mat-expansion-panel-header>
          <mat-panel-title class="align__title">
            <input
              #isCaseEditable
              type="text"
              [style.display]="'none'"
              value="false"
              class="isCaseEditable"
            />
            <span
              class="case_property_span"
              [attr.contenteditable]="
                (isCaseEditable.value === 'true' && isEditableAll) ||
                isCaseEditable.value === 'true'
              "
              [matTooltip]="displayDescriptionAndSteps(i)"
              (blur)="updateTitle($event, case)"
              (keydown)="
                $event.keyCode === 32 ? $event.stopPropagation() : null
              "
              (click)="$event.stopPropagation()"
              >{{ case.title }}</span
            >

            <div class="case__checkbox">
              <mat-checkbox
                (change)="
                  $event.checked === true
                    ? (isCaseEditable.value = 'true')
                    : (isCaseEditable.value = 'false')
                "
                (click)="$event.stopPropagation()"
                [checked]="isEditableAll"
                class="testCase_checkbox"
              ></mat-checkbox>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="discription__section">
          <span
            class="case_property_span"
            (blur)="updateDescription($event, case)"
            [attr.contenteditable]="
              (isCaseEditable.value === 'true' && isEditableAll) ||
              isCaseEditable.value === 'true'
            "
            >{{ case.description }}</span
          >
        </div>
        <div class="hidden-part" *ngFor="let step of case.steps; let k = index">
          <span class="step__index">[{{ k + 1 }}] &nbsp;&nbsp;</span>

          <span
            class="case_property_span"
            (blur)="updateSteps($event, case, k)"
            [attr.contenteditable]="
              (isCaseEditable.value === 'true' && isEditableAll) ||
              isCaseEditable.value === 'true'
            "
          >
            {{ step }}
          </span>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span
            class="case_property_span"
            [attr.contenteditable]="
              (isCaseEditable.value === 'true' && isEditableAll) ||
              isCaseEditable.value === 'true'
            "
            (blur)="updateOutcome($event, case)"
            >{{ case.outcome }}</span
          >
          <div>
            <button
              style="margin-right: 10px"
              id="drawer_toggle"
              (click)="drawer.toggle(); selectTestCase(i)"
              mat-raised-button
              color="basic"
              aria-label="open and preselect Screenshots"
            >
              Toggle {{ getScreenshotCount(i) }}
            </button>

            <standard-select
              [result]="case.result"
              (resultChanged)="resultChanged($event, i)"
            ></standard-select>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-drawer-container>
