<div class="example-button-row">
  <button
    (click)="drawer.toggle(); selectTestCase('all')"
    mat-raised-button
    color="warn"
  >
    Toggle All Screenshots
  </button>
  <a routerLink="/screenshots">
    <button mat-raised-button color="warn">
      Navigate to All Screenshots
    </button></a
  >
  <a routerLink="/file-upload">
    <button mat-raised-button color="warn">File upload</button></a
  >
</div>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list>
      <mat-list-item
        *ngFor="let screenshot of filteredScreenshots; let i = index"
      >
        <image
          style="width: 300px"
          [screenshot]="screenshot"
          (click)="openDialog(i)"
        ></image>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <!-- <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div> -->
  <div class="example-sidenav-content">
    <mat-accordion multi>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Control panel </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="example-action-buttons">
          <button mat-button (click)="accordion.openAll()">Expand All</button>
          <button mat-button (click)="accordion.closeAll()">
            Collapse All
          </button>
          <material-select
            (selectionChanged)="fileSelectionChanged($event)"
            [options]="fileSelectOptions"
          ></material-select>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel *ngFor="let case of testCases; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span
              [matTooltip]="case.description + '/\n' + case.steps"
              matTooltipPosition="above"
              >{{ case.title }}</span
            >
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="discription__section">{{ case.description }}</div>
        <div class="hidden-part" *ngFor="let step of case.steps; let i = index">
          <span class="step__index">[{{ i + 1 }}] &nbsp;&nbsp;</span>

          <span (blur)="log($event, case.steps, i)" contenteditable="true">
            {{ step }}
          </span>

          <!-- <editable-field [(text)]="step"></editable-field> -->
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div>{{ case.outcome }}</div>
          <div>
            <button
              style="margin-right: 10px"
              id="drawer_toggle"
              (click)="drawer.toggle(); selectTestCase(i)"
              mat-raised-button
              color="basic"
              aria-label="open and preselect Snapshots"
            >
              Toggle {{ getScreenshotCount(i) }}
            </button>
            <!-- <mat-radio-group
              value="{{ case.result }}"
              aria-label="Select an option"
              (change)="case.result = $event.value"
            >
              <mat-radio-button
                color="warn"
                [class.yellow]="case.result == 0"
                [class.gray]="case.result != 0"
                value="0"
                >pending</mat-radio-button
              >
              <mat-radio-button
                color="accent"
                [class.red]="case.result == 1"
                [class.gray]="case.result != 1"
                value="1"
                >failed</mat-radio-button
              >
              <mat-radio-button
                color="primary"
                [class.green]="case.result == 2"
                [class.gray]="case.result != 2"
                value="2"
                >success</mat-radio-button
              >
            </mat-radio-group> -->

            <standard-select
              [result]="case.result"
              (resultChanged)="selectChange($event, i)"
            ></standard-select>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-drawer-container>
