// @import "~@angular/material/theming";
// @include mat-core();

// $app-accent: mat-palette($mat-orange);
// :root {
//   --color-accent: #{mat-color($app-accent)};
// }

.example-container {
  width: 100%;
  //   height: 15%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-action-buttons {
  display: flex;
  flex-direction: row;
}
.example-action-buttons > * {
  margin-right: 15px;
}
.example-sidenav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: start;
  height: 90%;
  width: auto;
}

.example-sidenav {
  padding: 20px;
}
.example-section {
  margin: 12px 0;
}
mat-accordion {
  width: 100%;
}
#drawer_toggle {
  border: none;
  background: inherit;
}
mat-panel-title,
mat-panel-description {
  align-items: center;
  // color: white !important;
  // letter-spacing: 0.5px;
  letter-spacing: 0.8px;
  // width: 100%;
  font-size: 1rem;
}

.case_property_span {
  padding: 3px 6px !important;
  vertical-align: middle;
  letter-spacing: 0.7px !important;
}

.edited::before {
  color: #ff5252 !important;
  content: "* " !important;
  font-size: larger;
  vertical-align: middle;
}
.case_property_span:focus {
  color: #cddc39;
}
.darkMode .mat-expansion-panel-header-title {
  margin-right: 10px;
}

img {
  width: 250px;
  margin-bottom: 15px;

  border: 1px solid black;
}
.mat-drawer-container {
  height: 95%;
}
.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  display: contents;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  margin: 30px 0 200px 0;
  border: 1px solid black;
}

mat-expansion-panel {
  margin-bottom: 2px;
}
.hidden-part {
  padding: 5px 24px 6px 24px;
}
.discription__section {
  border: #6b6b6b 1px solid;
  padding: 8px;
  font-size: 1rem;
  letter-spacing: 0.5px;
  border-radius: 5px;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 10px;
}

.mat-radio-button {
  letter-spacing: 0.7px;
}
.yellow {
  color: #cddc39 !important;
}
.red {
  color: red !important;
}
.green {
  color: green !important;
}
.yellow__border {
  border: #cddc39 solid 1px !important;
}
.red__border {
  border: solid 1px red !important;
}
.green__border {
  border: solid 1px green !important;
}
.gray {
  color: gray;
}

.pending {
  color: #a56615;
  background-color: #f8fb44;
  font-weight: 600;
  padding: 2px;
  letter-spacing: 0.5px;
}
.failed {
  color: red;
  background-color: #fbbbbb;
  padding: 2px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.success {
  font-weight: 600;
  color: rgb(7, 85, 7);
  background-color: greenyellow;
  letter-spacing: 0.5px;
  padding: 2px;
}
.example-button-row {
  display: flex;
  width: auto;
  padding: 3px;
  background-color: rgb(48, 48, 48);
  align-items: center;
}
button {
  margin-right: 3px;
}
.step__index {
  color: rgba(255, 255, 255, 0.5);
}

mat-select {
  border: solid red 1px;
  width: 100px;
}

option {
  font-weight: 600;

  letter-spacing: 0.5px;
  font-size: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 5px 0;
  line-height: 20px;
}
option[value="0"] {
  color: #a56615;
  background-color: #f8fb44;
}
option[value="1"] {
  color: red;
  background-color: #fbbbbb;
}
option[value="2"] {
  color: rgb(7, 85, 7);
  background-color: greenyellow;
  font-family: inherit;
}
select {
  border-radius: 3px;
  width: 100px;
  height: 36px;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.align__title {
  justify-content: space-between;
  width: 100%;
}

mat-progress-bar {
  height: 5px;
}
.example-margin {
  margin-left: auto;
  color: whitesmoke;
  margin-right: 40px;
}
.case__checkbox {
  margin-right: 25px;
}
.add__button {
  width: 20px !important;
  min-width: unset !important;
  margin-right: 10px;
}
