<!-- <mat-select (selectionChange)="selectChange($event)">
  <mat-option
    *ngFor="let option of options"
    [selected]="option.value == 2"
    [value]="option.value"
  >
    <span>
      {{ option.viewValue }}
    </span>
  </mat-option>
</mat-select> -->
<mat-form-field appearance="fill">
  <!-- <mat-label>{{ labelText }}</mat-label> -->
  <mat-label>File name</mat-label>
  <mat-select (selectionChange)="selectChanged($event)" [(value)]="selected">
    <mat-option *ngFor="let option of options" [value]="option.value">
      <span>
        {{ option.viewValue }}
      </span>
    </mat-option>
  </mat-select>
</mat-form-field>
